* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*CUSTOM BACKGROUND COLORS*/

.bg-red {
	background-color: red;
}

/*HEADER*/

/*MAIN*/

/*side_navbar*/

.side_navbar {
	float: left;
}

.table {
	font-size: 12px;
}