* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/*CUSTOM BACKGROUND COLORS*/

.bg-red {
	background-color: red;
}

/*HEADER*/

.navbar {
	height: 50px;
	width: 100vw;
}

/*MAIN*/

main {
	display: flex;
}

/*side_navbar*/

.side_navbar {
	width: 50px;
	height: calc(100vh - 50px);
}

/*blue-and-cards*/

.blue-and-cards {
	width: calc(100vw - 50px);
	height: calc(100vh - 50px);
}


/*CARDS SECTION*/

.table {
	font-size: 11px;
}

.icon-border {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 5px;
}